.padContainer {
  margin: auto;
  padding: 30px;
  margin-top: 40px;
  display: inline;
}

.padCard {
  width: 20rem;
  border-top-right-radius: 10px 10px;
  border-top-left-radius: 50px 50px;
  border-bottom-left-radius: 5px 5px;
  border-bottom-right-radius: 50px 50px;
  box-shadow: 2px 2px 15px 2px #ccc;
}

.padImage {
  border-top-right-radius: 5px 5px;
  border-top-left-radius: 50px 50px;
}

.tag {
  text-align: center;
  border-width: 10px;
  border-color: red;
  background-color: #b8dbf8;
  color: black;
  border-radius: 5%;
}
